<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Answer Notifications</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAnswerNotificationsModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>

        <form>

            <div class="list">
                <label class="item">
                    Message:
                    <label>{{notifiText}} </label>
                </label>


                    <div class="item">
                        From:
                            <label>Operator 02</label>
                    </div>



                <label class="item">
                    <button class="button">OK</button>
                    <button class="button">Wilco</button>
                </label>



            </div>
        </form>
    </ion-content>
</ion-modal-view>
