<ion-modal-view>
    
    <ion-header-bar class="bar-dark">
        
        <h1 class="title">Comsys Login</h1>
        
        <a class="button button-icon icon ion-close-circled" ng-click="closeLoginModal()"></a>
        
    </ion-header-bar>
    
    <ion-content>
        
        <form>
            
            <div class="list">
                
                <div class="item item-input">
                    <span class="input-label custom-input-label">Username</span>
                    <input type="text" ng-model="loginData.username">
                </div>
                
                <div class="item item-input">
                    <span class="input-label custom-input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </div>
                
                <div class="item">
                    <button class="button button-block button-positive" ng-click="loginComsys()">Login</button>
                    <button class="button button-block button-assertive" ng-click="openSignUpModal()">Sign Up</button>
                </div>
                
            </div>
            
        </form>
        
    </ion-content>
    
</ion-modal-view>
