<ion-view view-title="Map">
    <ion-nav-buttons side="right">
        <!--<a class="button button-icon icon ion-ios-navigate-outline" id="buttonLocation" ng-click="centerOnMe(); showDiv = false"></a>-->
        <a class="button button-icon icon ion-ios-email-outline" ng-click="showDiv = !showDiv"><span id="notification_count">{{notifications.length}}</span></a>
        <div  id="notificationContainer" ng-show="showDiv">
		    <div id="notificationTitle" ng-click="showBody = !showBody">
		        Notifications 
		        <a class="button-icon icon ion-plus-circled" id="iconPlus" ng-click="showBody = !showBody; openNotificationsModal()"></a>
		    </div>
			    <div id="notificationsBody" ng-show="showBody">
			        <ion-list>
					    <ion-item class="item" ng-repeat="notifi in notifications">
					    	<div class="notification-container"  ng-click="openAnswerNotificationsModal(notifi)">
					    		<h2>{{notifi.sender.name}} - {{notifi.time}}</h2>
					      		<p>{{notifi.text}}</p>
					    	</div>
				    		
					      	<a class="button-icon icon ion-checkmark-circled dismissIcon" ng-click="dismissNotif(notifi.id)" ></a>
					    </ion-item>

			        </ion-list>

			    </div>
		    <div id="notificationFooter" ng-show="showBody">
                <a class="button" ng-click="showDiv = false">Close</a>
                <a class="button" ng-click="openModalNotificationSeeAll()">Old Notifications</a>
		        <a class="button" ng-click="dismissAll()">Dismiss All</a>
		        <a class="button" ng-click="unDismissAll()">Undo (Test)</a>
				
            </div>
		</div>
    </ion-nav-buttons>
    
    <ion-content scroll="false" data-tap-disabled="true">
        <hud></hud>
        <map mode="COMSYS" on-create="mapCreated(map)"></map>
    </ion-content>
</ion-view>
