<ion-modal-view>
    
    <ion-header-bar class="bar-dark">
        
        <h1 class="title">Comsys Sign Up</h1>
        
        <a class="button button-icon icon ion-close-circled" ng-click="closeSignUpModal()"></a>
        
    </ion-header-bar>
    
    <ion-content>
        
        <form>
            
            <div class="list">
                
                <div class="item item-divider custom-item-divider">
                    Login credentials
                </div>
                
                <div class="item item-input">
                    <span class="input-label custom-input-label">Username</span>
                    <input type="text" placeholder="This will be your login name" ng-model="signUpData.username">
                </div>
                
                <div class="item item-input">
                    <span class="input-label custom-input-label">Password</span>
                    <input type="password" ng-model="signUpData.password">
                </div>
                
                <div class="item item-input">
                    <span class="input-label custom-input-label">Repeat Password</span>
                    <input type="password" placeholder="Repeat the password you entered above" ng-model="signUpData.repeatPassword">
                </div>
                
                <div class="item item-divider custom-item-divider">
                    Game options
                </div>
                
                <div class="item item-input">
                    <span class="input-label custom-input-label">Nickname</span>
                    <input type="text" placeholder="This is how other players will see you" ng-model="signUpData.nickname">
                </div>
                
                <div class="item">
                    <button class="button button-block button-positive" ng-click="doSignUp()">Sign Up</button>
                </div>
                
            </div>
            
        </form>
        
    </ion-content>
    
</ion-modal-view>