<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Change password</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeChangePasswordModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Old Password</span>
                <input type="password" ng-model="changePasswordData.oldPassword">
            </label>
            <label class="item item-input">
                <span class="input-label">New Password</span>
                <input type="password" ng-model="changePasswordData.newPassword">
            </label>
            <label class="item item-input">
                <span class="input-label">Repeat New Password</span>
                <input type="password" ng-model="changePasswordData.newRepeatPassword">
            </label>
            <label class="item">
                <button class="button button-block button-positive" ng-click="doChangePassword()">Save</button>
                <!-- <button class="button button-block button-positive" type="submit">Log in</button> -->
            </label>
        </div>
    </ion-content>
</ion-modal-view>