<ion-modal-view>
    
    <ion-header-bar class="bar-dark">
        
        <h1 class="title">Change Password</h1>
        <a class="button button-icon icon ion-close-circled" ng-click="closeChangePasswordModal()"></a>
        
    </ion-header-bar>
    
    <ion-content>
        
        <div class="list">
            
            <div class="item item-input">
                <span class="input-label custom-input-label">Old Password</span>
                <input type="password" ng-model="changePasswordData.oldPassword">
            </div>
            
            <div class="item item-input">
                <span class="input-label custom-input-label">New Password</span>
                <input type="password" ng-model="changePasswordData.newPassword">
            </div>
            
            <div class="item item-input">
                <span class="input-label custom-input-label">Repeat New Password</span>
                <input type="password" ng-model="changePasswordData.newRepeatPassword">
            </div>
            
            <div class="item">
                <button class="button button-block button-positive" ng-click="doChangePassword()">Save</button>
            </div>
            
        </div>
        
    </ion-content>
    
</ion-modal-view>