<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <h1 class="title">Edit profile</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeEditProfileModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                Personal options
            </ion-item>
            <ion-item class="item-input">
                <span class="input-label">Nickname</span>
                <input type="text" placeholder="This is how other players will see you" ng-model="editProfileData.nickname">
            </ion-item>
            
            <ion-item class="item-divider">
                Layout options
            </ion-item>
            <ion-toggle ng-model="editProfileData.mapGrid" ng-checked="editProfileData.mapGrid">
                Display MapGrid over Map</ion-toggle>
            <ion-item class="item-input item-select">
                <div class="input-label">
                    Coordinates input format
                </div>
                <select ng-model="editProfileData.coordInpFormat"> 
                    <option value="1" selected>Lat/Long</option>
                    <option value="2">DMS</option>
                    <option value="3">UTM</option>
                    <option value="4">MGRS</option>
                </select>
            </ion-item>
            <ion-item>
                <button class="button button-block button-positive" ng-click="
                    doEditProfile(editProfileData.nickname, editProfileData.mapGrid, editProfileData.coordInpFormat)
                ">Save</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>