<ion-view view-title="Squad">
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-plus-round" ng-click="openSquadNameDialog()"></a>
    </ion-nav-buttons>
    <ion-content>

        <ion-list>
            <div ng-repeat="squad in squads">
                <ion-item class="item-stable" ng-click="toggleSquad(squad)" ng-class="{active: isSquadShown(squad)}">
                    <i class="icon" ng-class="isSquadShown(squad) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    Squad {{squad.name}}
                </ion-item>
                <ion-item class="item-accordion"
                          ng-repeat="operator in squad.operators"
                          ng-click="openSquadSelectionDialog(operator, $parent.$parent.$index)"
                          ng-show="isSquadShown(squad)">
                    {{operator.nickname}}
                </ion-item>
            </div>
        </ion-list>

    </ion-content>

</ion-view>