/* Empty. Add your own CSS if you like */
#map-canvas {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}


#notification_count
{
    width: 15px;
    height: 15px;
    background: #cc0000;
    line-height: 15px;
    border-radius: 25px;
    position: absolute;
    margin-top: -30px;
    margin-left: 18px;
}
.textAlign{

    font-size: 9px;
    color: #ffffff;
    font-weight: bold;
    margin-top: -30px;
    margin-left: 18px;
}

#notificationContainer
{
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 30px;
    margin-left: -400px;
    width: 400px;
    z-index: -1;
}

#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 375px;
}

#notificationTitle
{
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    color: black;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    width: 384px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
    padding: 33px 0px 0px 0px !important;
    color: black;
    min-height:300px;
}
#notificationFooter
{
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
